/* TOP BAR STYLE */
.topBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 4px 2px rgba(17, 16, 16, 0.5);
  padding: 15px 0;
  min-height: 8vh;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: #fff;
}

/* LOGO STYLE */
.logo h4 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 3px;
  cursor: pointer;
}
.logo h4 span {
  color: #009688;
  letter-spacing: 1px;
  font-weight: 1000;
}

/* NAVBAR STYLE */
.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 30%;
  padding-top: 8px;
}
.navLinks li,
.navLinks li a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(27, 25, 25);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.2s;
  cursor: pointer;
}
.navLinks li:hover,
.navLinks li a:hover {
  color: #009688;
}

/* ICONS STYLE */
.icons {
  display: flex;
  color: rgb(27, 25, 25);
}
.icons i {
  padding-top: 8px;
  font-size: 22px;
  cursor: pointer;
  margin-right: 50px;
}
.icons .cart {
  position: relative;
}
.icons .cart a {
  color: rgb(27, 25, 25);
}
.icons .cart a span {
  color: #fff;
  background-color: #009688;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px 8px;
  position: absolute;
  top: 0;
}

.burger {
  display: none;
  padding-top: 5px;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(27, 25, 25);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .navLinks li {
    opacity: 1;
  }
  .navLinks li,
  .navLinks li a {
    color: rgb(27, 25, 25);
  }
  .navLinks li:hover,
  .navLinks li a:hover {
    color: #fff;
  }
  .burger {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navLinks {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  .logo a h4 {
    font-size: 24px;
  }
  .icons i {
    padding-top: 6px;
    font-size: 20px;
    margin-right: 20px;
  }
  .icons .cart {
    margin-right: 15px;
  }
  .burger {
    padding-top: 2px;
  }
}
@media screen and (max-width: 320px) {
  .logo h4 {
    font-size: 20px;
  }
  .icons i {
    padding-top: 4px;
    font-size: 16px;
    margin-right: 15px;
  }
  .burger {
    padding-top: 0px;
  }
}

/* NAVBAR ACTIVE STYLE */
.nav-active {
  transform: translateX(0%);
}
